.float{
    position: fixed;
    top: 90% !important;
    right: 38px;
}
.img-btn{
    content: "";
    cursor: pointer;
    background-image: url(https://siman.vtexassets.com/arquivos/chat-bubb.png);
    background-repeat: no-repeat;
    background-size: 54px;
    width: 54px;
    height: 54px;
    display: block;
}
@media screen and (max-width: 1025px) {
    .float{
    display: flex;
    justify-content: center;
    position: inherit;
    width: 54px;
    }
    .img-btn{
    background-size: 30px;
    width: 30px;
    height: 30px;
    background-image: url(https://siman.vtexassets.com/arquivos/chat-image.png);
    }
}

/* CHAT NEOTEL */
.WEBCHATTITLE{
    color:White;
    width:100%;
    position:absolute;
    top:6px;
    left:0px;
    text-align:left;
    font-family:'Open Sans, Arial, sans-serif';
    font-weight:normal;
    font-size:20px;
    margin-top:2px;
    margin-left: 20px;
}	

.en-linea{
    color: rgb(163, 162, 162);
    margin-top: 11%;
    margin-left: 1%;
    font-size: .8rem;
    display: inline-block;
}

.span-foco{
    height: 10px;
    width: 10px;
    background: #35ff46;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    margin-left: 6.5%;
}


#cntNeoWebChat, #cntNeoCallBack
{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#cntNeoWebChat>div, #cntNeoCallBack>div {
   border-top-right-radius: 8px;
   border-top-left-radius: 8px;
   border-bottom-color: white;
   margin-top: 20px;
   height: 0px;
}

.NEOTELBUTTON{
    cursor:hand;
    cursor:pointer;
}

#cntNeoWebChat{
    width: 75%;
}

#iframeWebChat{
    width: calc(335px) !important;
    height: 56vh !important;
    border: .3px solid rgba(160, 156, 156, .4) !important;
    box-sizing: border-box;

    /* width: 100% !important; */
}

#Div1{
    width: calc(335px) !important;
    background-color: #A93239 !important;
    height: 60px !important;
    z-index: 1 !important;
    /* width: 76% !important; */
}

#grdWebChatMsg_cnt_rows{
    /* background-color: white !important; */
    height: 287px !important;
    top: 26px;
}

@media(max-width: 600px){    
    #iframeWebChat{
        width: calc(360px) !important;
        height: 79vh !important;
    }
    #Div1{
        width: calc(360px) !important;
    }
}